<section class="container-fluid static-mobile d-block d-md-none">
	<div class="row justify-content-center text-justify">
		<div class="col-12">
			<h1 class="text-center">O nas</h1>
			<br>
			<p>
				W Polsce jest stosunkowo niewiele stacji pomiaru powietrza WIOŚ, w naszym mieście nie ma ani jednej. Wykorzystujemy czujniki smogu firmy Airly, aby utworzyć system ostrzegania mieszkańców via email oraz graficznie przedstawić zmienność zanieczyszczenia powietrza w czasie i przestrzeni.
			</p>
			<br>
			<br>
			<p>
				Strona główna firmy, dzięki której (ble ble ble):
			</p>
			<br>
			<a href="https://airly.eu/pl/" target="_blank">
				<%= image_tag('airly.png') %>
			</a>
		</div>
	</div>
</section>
<section class="container-fluid static d-none d-md-block d-lg-none">
	<div class="row justify-content-center text-justify">
		<div class="col-6">
			<h1 class="text-center">O nas</h1>
			<br>
			<p>
				W Polsce jest stosunkowo niewiele stacji pomiaru powietrza WIOŚ, w naszym mieście nie ma ani jednej. Wykorzystujemy czujniki smogu firmy Airly, aby utworzyć system ostrzegania mieszkańców via email oraz graficznie przedstawić zmienność zanieczyszczenia powietrza w czasie i przestrzeni.
			</p>
			<br>
			<br>
			<p>
				Strona główna firmy, dzięki której (ble ble ble):
			</p>
			<br>
			<br>
			<a href="https://airly.eu/pl/" target="_blank">
				<%= image_tag('airly.png') %>
			</a>
		</div>
	</div>
</section>
<section class="container-fluid static d-none d-lg-block">
	<div class="row justify-content-center text-justify">
		<div class="col-6">
			<h1 class="text-center">O nas</h1>
			<br>
			<p>
				W Polsce jest stosunkowo niewiele stacji pomiaru powietrza WIOŚ, w naszym mieście nie ma ani jednej. Wykorzystujemy czujniki smogu firmy Airly, aby utworzyć system ostrzegania mieszkańców via email oraz graficznie przedstawić zmienność zanieczyszczenia powietrza w czasie i przestrzeni.
			</p>
			<br>
			<br>
			<p>
				Strona główna firmy, dzięki której (ble ble ble):
			</p>
			<br>
			<br>
			<a href="https://airly.eu/pl/" target="_blank">
				<%= image_tag('airly.png') %>
			</a>
		</div>
	</div>
</section>